# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/vue_js/FileContentIndex/read.lock
.vs/vue_js/FileContentIndex/68198f24-7980-437e-9204-4b7f9d340566.vsidx
.vs/vue_js/v17/.wsuo
.vs
.vscode
